{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Change Password | QuickBite</title>
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>

<body>

<nav class="navbar">
    <div class="logo">🍴 Quick<span>Bite</span></div>

    <div class="nav-links">
        <a href="{% url 'customer_dashboard' %}" class="active">Home</a>
        <a href="#">Restaurants</a>
        <a href="{% url 'my_orders' %}">Orders</a>
        <a href="{% url 'cart' %}" class="cart-nav-link">
          My Cart
          <span id="cart-count" class="cart-badge">
            {{ cart_count|default:0 }}
          </span>
        </a>
        <a href="{% url 'profile' %}">Profile</a>
      </div>

    <div class="user-info">
        🔔 👤 Hi, {{ request.user.username }}
    </div>
</nav>

<section class="password-page">

    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>

    <div class="password-card">

        <a href="{% url 'profile' %}" class="back-btn">← Back to Profile</a>

        <div class="password-header">
            <div>
                <h1>Change Password</h1>
                <p>Update your QuickBite account password securely.</p>
            </div>

            <div class="icon-box">🔐</div>
        </div>

        <form method="post" class="password-form">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-group">
                <label>Old Password</label>
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>

            <div class="form-group">
                <label>New Password</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>

            <div class="form-group">
                <label>Confirm New Password</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>

            <button type="submit">Update Password</button>
        </form>

    </div>

</section>

</body>
</html>